::selection {
    background:rgb(98, 206, 233);
    color:rgb(21, 75, 0)
}

body {
    text-align: center;
    background-color: rgb(18, 42, 160);
    /* border: 5px white solid; */
}

li {
    list-style-type: none;
}

.nav-a:link {
    color: white;
}

.nav-a:visited {
    color: white;
}

#navbar {
    display: flex;
    flex-direction: row;
    Justify-content: space-around;
    background-color: black;
    padding: 0px;
    margin: 0px;
}

.weekdays {
    margin-left: 0px;
    display:flex;
    justify-content: left;
    background-color: rgb(18, 42, 160);
    font-size: 30px;
    padding-left: 0px;
    z-index: -1;
    position: relative;
    margin-left: 5%;
}

.week-day {
    display: inline-block;
    width: 13.5%;
    color: white;
    background-color: rgb(18, 42, 160);
    text-align: center;
    /* margin: auto; */
}

.fixed {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: -1;
}


.month_jan, .month_feb, .month_mar, 
.month_apr, .month_may, .month_jun, 
.month_jul, .month_aug, .month_sep, 
.month_oct, .month_nov, .month_dec {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 5%;
}

.jan, .feb, .mar, .apr, .may, .jun, .jul, .aug, .sep, .oct, .nov, .dec {
    display: inline-block;
    color: white;
    height: 60px;
    width: 13.5%;
    list-style-type: none;
    font-size: 30px;
    text-align: center;
    background-color: rgb(18, 42, 160);
    z-index: -2;
    /* margin: auto; */
}

.jan:hover, .feb:hover, .mar:hover, .apr:hover, 
.may:hover, .jun:hover, .jul:hover, .aug:hover, 
.sep:hover, .oct:hover, .nov:hover, .dec:hover {
    cursor: pointer;
}

.empty-days {
    color: white;
    height: 60px;
    width: 13.5%;
    list-style-type: none;
    font-size: 30px;
    text-align: center;
    /* margin: auto; */
}

#month-list h2 {
    text-align: center;
    color: white;
    position: relative;
    z-index: -3;
}

.other {
    background-color: white;
}

h1 {
    color: white;
    /* text-align: center; */
}

/* #jan_1 {
    color: blue;
}

#jan_2 {
    color: green;
} */

#entry_field {
    background-color: White;
    width: 50%;
    min-width:500px;
    margin: auto;
}

.radio-entry{
    display: flex;
    justify-content: center;
}

textarea{
    width: 60%;
}