{% extends "frame.html" %}

{% block title %}Edit Entry{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<header><h1> New Entry </h1></header>
<form id="entry_field" method="POST">
    <div>
        <label for="date">date</label><br>
        <input type="date" name="date">
    </div>
    <div>
        <label for="feel">how did you feel today?</label><br>
        <div class="radio-entry">
            <input type="radio" name="feel" value="1">
            <label for="bad">bad</label><br>
            <input type="radio" name="feel" value="2">
            <label for="not okay">not okay</label><br>
            <input type="radio" name="feel" value="3">
            <label for="okay">okay</label>
            <input type="radio" name="feel" value="4">
            <label for="good">good</label>
            <input type="radio" name="feel" value="5">
            <label for="great">great</label>
        </div>
    </div>
    <div>
        <label for="elevel">Exercise time (minutes)</label><br>
        <div class="radio-entry">
            <input type="radio" name="elevel" value="1">
            <label for="0">0</label><br>
            <input type="radio" name="elevel" value="2">
            <label for="0-15">0-15</label><br>
            <input type="radio" name="elevel" value="3">
            <label for="15-30">15-30</label>
            <input type="radio" name="elevel" value="4">
            <label for="30-60">30-60</label>
            <input type="radio" name="elevel" value="5">
            <label for="60+">60+</label>
        </div>
    </div>
    <div>
        <label for="slevel">Sleep time (hours)</label><br>
        <div class="radio-entry">
            <input type="radio" name="slevel" value="1">
            <label for="0-2">0-2</label><br>
            <input type="radio" name="slevel" value="2">
            <label for="2-4">2-4</label><br>
            <input type="radio" name="slevel" value="3">
            <label for="4-6">4-6</label>
            <input type="radio" name="slevel" value="4">
            <label for="6-8">6-8</label>
            <input type="radio" name="slevel" value="5">
            <label for="8+">8+</label>
        </div>
    </div>
    <input type="submit" value="Submit">
</form>

{% endblock %}